@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
  font-family : 'Poppins', sans-serif;
  /* background-color: #eeeeee; */
  
}
.nav{
  color: #30AADD;
}
.container-fluid{
  background-color:#FFFFFF ;
  }

  .img-fluid{
        /* width: 50%; */
    margin: auto ;
    justify-content: center;
  }
  .image-container{
    border-radius: 20px;
    width: 60%;
    height: auto;
    margin: auto;
  }
#footer{
  justify-content: center;
}
.carousel-item{
  height: 35rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  /* background-image:linear-gradient(to bottom, rgba(0, 0,  0, 0.6), rgba(0, 0, 0, 0.6)),url("img/profile.jpg");
  background-size: cover;
  background-position: center; */
  
}
.d-block{
  height: 35rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
 #img{
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */

  opacity: 0.5;
}
h1{
  text-transform: uppercase;
}
.carousel-caption{
  width:50%;
  margin: 100px auto;
}
/* .nav-item{
  position: relative;
  display: inline-block;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.nav-item a:hover {background-color: #ddd;}

.nav-item:hover .dropdown-menu {display: block;}

.nav-item:hover .dropdown-menu{background-color: #3e8e41;} */
.top-header{
  background-color: white;
}
.nav-item{
  position: relative;
  display: inline-block;
  text-decoration: none
}
.nav-item a{

  font-size: 1.2rem;
}
.nav-item:hover .dropdown-menu {display: block;}
.nav-item:hover .dropdown-menu{
  background-color: #ffff;
  border-radius: 10px;
}
.nav-item:hover .dropdown-menu a{
  color: #30AADD;
}